.container {
  @apply flex h-screen w-screen items-center justify-center bg-primary;
}

.card {
  @apply flex h-439 w-448 flex-col items-center justify-center space-y-10 rounded-10 bg-primaryLight;
}

.logo__container {
  @apply flex h-70 w-250 items-center justify-center;
}

.card__content {
  @apply flex h-260 w-394 flex-col justify-center;
}

.texts__container {
  @apply h-104  pb-28 text-white;
}

.primary__text {
  @apply h-38 text-right text-xl;
}

.secondary__text {
  @apply h-40 text-right text-lg;
}

.input__container {
  @apply h-72;
}

.email__input {
  @apply h-56 w-full rounded-8 bg-primaryLight px-16 py-16
    text-right text-white opacity-20 
    outline
  outline-inputOutline  
    placeholder:text-right focus:opacity-100 focus:outline-secondary;
}

.submit__button {
  @apply h-40 rounded-8 bg-secondary text-xl font-semibold text-white;
}

.previousPage__container {
  @apply flex items-center justify-center pt-20 text-secondary;
}
